* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    max-width: 1500px;
}

/* inicio header */

header {
    background-color: #8400ff;
    
}

header .container {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    gap: 50px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
}

header nav .menu {
    display: flex;
    flex: 1;
}

header nav li {
    list-style: none;
    margin: 0 30px;
}

header nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

header nav li a:hover {
    color: #141414;
}

header nav .button {
   display: block;
   border: 1px solid #141414;
   padding: 15px 30px;
   border-radius: 5px;
   background-color: #141414;
   text-decoration: none;
   color : #fff;
}

header nav .button:hover {
    opacity: 0.8;
}

header .logo {
    width: 100px;
    height: 100px;
}

 header .logo img {
    width: 100%;
}

/* fim header */

/* inicio principal */

.principal {
    padding: 100px 0px;
}

.principal .container {
    display: flex;
}

.principal .texto {
    flex: 1;
}

.principal .imagem {
    flex: 1;
    text-align: center;
}

 .imagem img {
    width: 100%;
}

.principal h1 {
    font-size: 70px;
    margin-top: 40px;
 
}

.principal p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    margin: 30px 0px;
}

/* home */

.home {
    padding: 100px 0px;
}

.home .container {
    display: flex;
}

.home .texto {
    flex: 1;
}

.home .imagem {
    flex: 1;
    text-align: center;
}

.home h1 {
    font-size: 70px;
    margin-top: 40px;
 
}

.home p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    margin: 30px 0px;
}

.home .imagem img {
    width: 80%;
}

/* logo */

.logomarca {
    padding: 100px 0px;
}

.logomarca .container {
    display: flex;
}

.logomarca .texto {
    flex: 1;
}

.logomarca .imagem {
    border-radius: 10px;
    background-color: #8400ff;
    flex: 1;
    text-align: center;
}


.logomarca h1 {
    font-size: 70px;
    margin-top: 40px;
 
}

.logomarca p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    margin: 30px 0px;
}

/* info */

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.info .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h1 {
    font-size: 70px;
    margin-top: 40px;
}

.info p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    margin: 30px 0px;
}

/* servicos */

.servicos {
    padding: 100px 0px;
}

.servicos .container {
    display: flex;
}

.servicos .texto {
    flex: 1;
}

.servicos .imagem {
    flex: 1;
    text-align: center;
    background-color: #8400ff;
    border-radius: 10px;
}

.servicos h1 {
    font-size: 70px;
    margin-top: 40px;
 
}

.servicos p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    margin: 30px 0px;
}

.servicos .imagem img {
    width: 100%;
}

/* saiba mais */
.saiba-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.saiba-mais form {
    display: flex;
    gap: 20px;
}

.texto a img {
    width: 50px;
    height: 50px;
}

.texto a {
    text-decoration: none;
}

.saiba-mais input[type="text"] {
    flex: 1; 
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.saiba-mais .button {
    display: inline-block;
    border: 1px solid #8400ff;
    padding: 15px 60px;
    border-radius: 5px;
    background-color: #8400ff;
    text-decoration: none;
    color : #ffffff;
    text-align: center;
}

.saiba-mais .button:hover {
    opacity: 0.8;
}